.experience-section {
  grid-area: experience;
  font-size: 0.4rem;
  line-height: 150%;
}

.job-list {
  display: grid;
  grid-gap: 10px;
}

.job-period {
  display: flex;
  justify-items: space-between;
  margin: 0px 0px 8px 0px;
}

.job-date {
  display: flex;
  font-weight: 500;
  margin: auto 0px auto 0px;
}

.recent {
  display: flex;
  margin-right: 0px;
  margin-left: auto;
  color: #ddf163;
  background-color: rgba(126, 115, 18, 0.4);
  padding: 2px;
  justify-self: center;
  height: fit-content;
  width: fit-content;
  border-radius: 59px;
}

.job-description {
  display: grid;
  grid-template-columns: 33% 62%;
  justify-content: space-between;
}

.job-title {
  margin: 0px;
  font-size: 0.5rem;
  font-weight: 500;
}

.job-obligations {
  margin: 0px;
}

.job-place {
  font-weight: 400;
}

.job-place__previous {
  color: #3f3d3d;
}
