:root {
  --block-background-color: #f0f0f0;
  --chosen-background-color: #28d979;
  --additional-background-color: #000000;
  --main-font-color: #000000;
  --additional-font-color: #ffffff;
  --tags-font-color: #149063;
  --inner-block-background-color: #ffffff;
  --ripple-x: 50%;
  --ripple-y: 50%;
}

html {
  height: 100%;
  font-size: 40px;
  font-display: swap;
}

body {
  width: 98vw;
  max-width: 1440px;
  margin: 0px auto;
  padding: 0;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Poppins;
  line-height: 150%;
  flex-direction: column;
}

ul,
li {
  margin: 0px;
  padding: 0px;
}

* {
  position: relative;
}

.hidden {
  display: none !important;
}

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'photo hello language language'
    'experience experience experience tools'
    'education education interests interests'
    'education education interests interests'
    'education education contacts contacts';
  grid-gap: 20px;
  padding: 20px;
}

.download {
  display: flex;
  font-size: 1rem;
  margin: 5px auto;
  font-family: Poppins;
  background-color: var(--block-background-color);
  border-radius: 20px;
  border: 2px solid #a3a3a3;
  cursor: pointer;
}

.block-wrapper {
  background-color: var(--block-background-color);
  border-radius: 12px;
  padding: 12px;
  overflow: hidden;
}

.block-title {
  font-size: 0.7rem;
  line-height: 150%;
  font-weight: 500;
  margin: 0px 0px 0.8rem 0px;
}

.inner-block {
  background-color: var(--inner-block-background-color);
  border-radius: 10px;
  padding: 8px;
  position: relative;
}

.last-place {
  background-color: var(--chosen-background-color);
  color: #ffffff;
}

.ripple::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  top: var(--ripple-y);
  left: var(--ripple-x);
  width: 10px;
  height: 10px;
  transform: scale(0);
  animation: ripple 1s;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }

  to {
    opacity: 0;
    transform: scale(100);
  }
}

.focus::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: radial-gradient(#ffffff, #b6b6b6, #95b08f, #496250);
  opacity: 0;
  animation: animated-back 1s ease-in-out infinite;
}

.saving::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  background-color: #2b5903;
  opacity: 1;
  animation: saving 1s ease-in-out;
}

@keyframes animated-back {
  from {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  to {
    opacity: 0;
  }
}

@keyframes saving {
  from {
    width: 0%;
  }

  to {
    width: 100%;
    opacity: 0;
  }
}

@media (max-width: 1113px) {
  html {
    font-size: 30px;
  }
}

@media (max-width: 780px) {
  html {
    font-size: 20px;
  }
  .main {
    grid-gap: 10px;
    padding: 10px;
  }
}

@media (max-width: 550px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'photo hello'
      'language  language'
      'experience experience'
      'tools tools'
      'education education'
      'interests interests'
      'contacts contacts';
  }
}
