:root {
  --block-background-color: #f0f0f0;
  --chosen-background-color: #28d979;
  --additional-background-color: #000000;
  --main-font-color: #000000;
  --additional-font-color: #ffffff;
  --tags-font-color: #149063;
  --inner-block-background-color: #ffffff;
}

html {
  height: 100%;
  font-size: 40px;
  font-display: swap;
}

body {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  padding: 0;
  display: flex;
  overflow-y: auto;
  font-family: Poppins;
  line-height: 150%;
}

ul,
li {
  margin: 0px;
  padding: 0px;
}

.hidden {
  display: none !important;
}

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'photo hello language language'
    'experience experience experience tools'
    'education education interests interests'
    'education education interests interests'
    'education education contacts contacts';
  grid-gap: 20px;
  padding: 20px;
  width: inherit;
}

.block-wrapper {
  background-color: var(--block-background-color);
  border-radius: 12px;
  padding: 12px;
}

.block-title {
  font-size: 0.7rem;
  line-height: 150%;
  font-weight: 500;
  margin: 0px 0px 0.8rem 0px;
}

.inner-block {
  background-color: var(--inner-block-background-color);
  border-radius: 10px;
  padding: 8px;
}

.last-place {
  background-color: var(--chosen-background-color);
  color: #ffffff;
}

@media (max-width: 1113px) {
  html {
    font-size: 30px;
  }
}

@media (max-width: 780px) {
  html {
    font-size: 20px;
  }
}

@media (max-width: 585px) {
  .main {
    grid-gap: 10px;
    padding: 10px;
  }
}

@media (max-width: 550px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'photo hello'
      'language  language'
      'experience experience'
      'tools tools'
      'education education'
      'interests interests'
      'contacts contacts';
  }
}
