:root {
  --block-background-color: #f0f0f0;
  --chosen-background-color: #28d979;
  --additional-background-color: #000000;
  --main-font-color: #000000;
  --additional-font-color: #ffffff;
  --tags-font-color: #149063;
}

html {
  height: 100%;
  font-size: 14px;
}

body {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  padding: 0;
  display: flex;
  overflow-y: auto;
  font-family: Poppins;
}

.main {
  padding: 20px;
  width: inherit;
  height: 1000px;
  background-color: black;
}

.block-wrapper {
  background-color: var(--block-background-color);
  border-radius: 12px;
  padding: 12px;
}

.block-title {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 500;
  margin: 0px;
}

ul,
li {
  list-style: none;
}
